
body{
	font-family:'Titillium Web', sans-serif;
	
}
#mynav .navbar-brand{color:#fed136;
	font-family:'Kaushan Script','Helvetica Neue',Helvetica, Arial,cursive;}

.navbar-inverse .navbar-nav>li>a:hover{color:#fed136;background-color:transparent;}
#fb:hover,#tw:hover,#gp:hover{color:#fed136;}
#sidebar{background:#222222;}
.navbar-fixed-bottom{position:static;}


